html {
    overflow-y: scroll;
    /* scroll-margin-bottom: inherit; */
    position: fixed;
    overflow-y: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html,
body,
.container-extra {
    height: 100%;
    margin: 0px;
}

.user {
    display: flex;
    justify-content: space-between;
}

.channels-extra {
    height: 100%;
    background: honeydew;
    max-width: 20em;
    padding: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
}

.chatbox-head {
    min-height: 4em;
    background-image: none;
    background-color: #dddbd1;
}

.chat-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chatbox {
    max-height: 100%;
    background-image: url('https://thumbs.dreamstime.com/z/mobile-apps-pattern-white-background-50171276.jpg');
}

.posts-wrap {
    overflow-y: scroll;
}

.posts-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my-post-row {
    align-self: flex-end;
    background-color: #dcf8c6;
    border-radius: 50px 15px 5px 50px;
    box-shadow: 5px 3px 8px #888888;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 0.5em;
}

.my-post {
    align-self: flex-end;
    padding-right: 0.2em;
    padding-left: 0.4em;
}

.other-post-row {
    box-shadow: 5px 3px 8px #888888;
    padding: 0.7em;
    padding-left: 0.2em;
    padding-top: 0.2em;
    width: fit-content;
    background-color: whitesmoke;
    border-radius: 15px 50px 50px 5px;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    padding-left: 0.5em;
}

.post-name {
    color: #b1a79d;
}

.modal {
    /* by default display is none in modal */
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    padding: 2em;
    padding-left: 5em;
    box-shadow: 5px 3px 8px #0e0d0d;
    position: fixed;
    background: white;
    width: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.channel-list {
    height: 100%;
    overflow-y: scroll;
}

.login {
    padding-top: 5em;
}

.user-list {
    height: 20em;
    overflow-y: scroll;
}